@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Baloo+Da+2:wght@800&family=Sen:wght@400;700;800&display=swap');

:root {
    --fonte-titulo-destaque: 'Baloo Da 2', cursive;
    --fonte-titulo: 'Baloo Chettan 2', cursive;
    --fonte-paragrafo: 'Sen', sans-serif;
}


body {
    padding: 0px;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-family: var(--fonte-titulo);
}

h2, h3, h4, h5 {
    font-family: var(--fonte-titulo-destaque);
    text-transform: uppercase;
}

p, li, .btn {
    margin: 0;
    font-family: var(--fonte-paragrafo);
}

textarea {
    resize: none !important;
}

input, textarea {
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.desc-icon {
    text-align: center;
    width: 200px;
}

.fa-location-dot {
    color: #E50027;
}

.fa-phone {
    color: #00A7E1;
}

.fa-envelope {
    color: blue;
    background-image: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    /*Apagando do fundo tudo que não estiver imediatamente atrás de texto*/
    background-clip: text;
    -webkit-background-clip: text;
    /*Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text`*/
    -webkit-text-fill-color: transparent;
}

.fa-facebook {
    color: #1977F2;
}

.fa-instagram-square {
    color: #EE077D;
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    /*Apagando do fundo tudo que não estiver imediatamente atrás de texto*/
    background-clip: text;
    -webkit-background-clip: text;
    /*Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text`*/
    -webkit-text-fill-color: transparent;
}

.fa-linkedin {
    color: #0966C2;
}

footer {
    color: white;
    margin-top: 50px;
    margin-bottom: 0px;
    bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
}