@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Baloo+Da+2:wght@800&family=Sen:wght@400;700;800&display=swap');

:root {
    --fonte-titulo-destaque: 'Baloo Da 2', cursive;
    --fonte-titulo: 'Baloo Chettan 2', cursive;
    --fonte-paragrafo: 'Sen', sans-serif;
}

body {
    padding: 0px;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-family: var(--fonte-titulo);
}

h2 {
    font-family: var(--fonte-titulo);
    text-transform: uppercase;
}

h3, h4, h5 {
    font-family: var(--fonte-titulo-destaque);
    text-transform: uppercase;
}

p, li, .btn {
    margin: 0;
    font-family: var(--fonte-paragrafo);
}

textarea {
    resize: none !important;
}

input, textarea {
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    color: white;
    margin-top: 50px;
    margin-bottom: 0px;
    bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
}
.text-gray, .nav-link, nav-item > a {
    color: gray !important;
}

/*DEFAULT*/
.background {
    filter: brightness(0.25) opacity(0.75);
}

.ul-about {
    list-style: none;
    padding-left: 0;
}

    .ul-about li {
        line-height: 30px;
    }

    .ul-about i {
        color: #CD851C;
        margin-right: 10px;
    }

    /*DADOS*/
.circle-box div {
    padding: 50px 40px 0 40px;
}

.progressbar-text {
    font-weight: bold;
    font-size: 32px;
}

#data-area p {
    color: white;
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}
    /*PARALLAX*/
.parallax-window {
    min-height: 400px;
    background: transparent;
}
    /*RESPONSIVIDADE*/
@media(max-width: 992px) { /*a ordem padrão era 0 - texto; 1 - img; mas eu modifiquei abaixo em telas menores de 992px*/
    .section-order:nth-child(2) {
        order: -1;
    }

    .section-order:nth-child(1) {
        order: 1;
    }
}

/*CURSOS*/
.course-box {
    text-align: center;
    margin-bottom: 50px;
}

.course-box i, .course-box h4, .course-box .btn-secondary {
    transition: .5s;
}

.course-box i {
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
}

.course-box h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.course-box > i:hover, .course-box > h4:hover {
    color: #CD851C;
}

.course-box > .btn-secondary:hover {
    background-color: #CD851C;
    border-color: #CD851C;
}

.course-box a, .course-box a:hover {
    text-decoration: none;
    color: white;
}

@media(max-width: 992px) { /*a ordem padrão era 0 - texto; 1 - img; mas eu modifiquei abaixo em telas menores de 992px*/
.mobile-order:nth-child(2) {
    order: -1;
}

.mobile-order:nth-child(1) {
    order: 1;
}

/*o segundo filho de plano tem a ordem -1**/
}

/*CONTATO*/
.desc-icon {
    text-align: center;
    width: 200px;
}

.fa-location-dot {
    color: #E50027;
}

.fa-phone {
    color: #00A7E1;
}

.fa-envelope {
    color: blue;
    background-image: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    /*Apagando do fundo tudo que não estiver imediatamente atrás de texto*/
    background-clip: text;
    -webkit-background-clip: text;
    /*Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text`*/
    -webkit-text-fill-color: transparent;
}

.fa-facebook {
    color: #1977F2;
}

.fa-instagram-square {
    color: #EE077D;
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    /*Apagando do fundo tudo que não estiver imediatamente atrás de texto*/
    background-clip: text;
    -webkit-background-clip: text;
    /*Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text`*/
    -webkit-text-fill-color: transparent;
}

.fa-linkedin {
    color: #0966C2;
}

/*USUARIOS*/
.danger {
    background-color: #dc3545 !important;
}

.delete {
    padding: 10px;
    position: relative;
    right: 25px;
    border: none;
    background: none;
}

.icon-delete {
    color: red;
}
